.logo {
    animation: waveIn .7s 1 ease-in-out .7s;
}

@keyframes waveIn {
    from {
        opacity: 0;
            transform: translateX(-100px) rotate(-50deg);
    }
to {
    opacity: 1;
    transform: translateX(0px) rotate(0px);
    }
}