.logo {
    animation: waveIn .7s 1 ease-in-out;
    animation: rotate 1s 1 ease-in-out;
}

@keyframes waveIn {
    from {
        opacity: 0;
            transform: translateX(-100px);
    }
to {
    opacity: 1;
    transform: translateX(0px);
}
}

@keyframes rotate {
    from {
        opacity: 0;
        transform: rotate(-50deg);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}