.Home {
    transform: rotate(-45deg);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

@media screen and (max-width:700px) {
    .logoTab:nth-child(9) {
        width: 90%;
        height: 90%;
        top: 10.5%;
        left: 9.5%;
    }
}


.wrap {
    position: relative;
    width: 75vmin;
    height: 75vmin;
    background: inherit;
    transition: transform .5s, opacity .5s;
    opacity: 0.7;
    margin: 0 auto;
}


.logoTab {
    position: absolute;
    left: 0;
    top: 0;
    width: 47.5%;
    height: 47.5%;
    overflow: hidden;
    transform: scale(.3) translateZ(0px);
    background-color: #A0E9FF;
}

.logoTab:nth-child(1) {
    border-radius: 40vmin 0 0 0;
    transform-origin: 110% 110%;
    transition: transform .4s .15s;
    z-index: 1;
    background-image: url('../../assets/menu/office_dean.png');
    background-size: cover;

}

.logoTab:nth-child(2) {
    border-radius: 100vmin 0 0 0;
    left: -13%;
    top: -12%;
    transform-origin: 110% 110%;
    transition: transform .4s .15s;
    background-image: url('../../assets/menu/reserch_experties.png');
    background-size: cover;
}

.logoTab:nth-child(3) {
    border-radius: 0 40vmin 0 0;
    left: 52.5%;
    transform-origin: -10% 110%;
    transition: transform .4s .2s;
    z-index: 1;
    background-image: url('../../assets/menu/area_of_reserch.png');
    background-size: cover;
}

.logoTab:nth-child(4) {
    border-radius: 0 0 0 40vmin;
    top: 52.5%;
    transform-origin: 110% -10%;
    transition: transform .4s .25s;
    z-index: 1;
    background-image: url('../../assets/menu/sponcered_reserch.png');
    background-size: cover;
}

.logoTab:nth-child(5) {
    border-radius: 0 0 40vmin 0;
    top: 52.5%;
    left: 52.5%;
    transform-origin: -10% -10%;
    transition: transform .4s .3s;
    z-index: 1;
    background-image: url('../../assets/menu/reserchconsultency.png');
    background-size: cover;
}

.logoTab:nth-child(6) {
    border-radius: 0 0 0 100vmin;
    top: 64.5%;
    left: -12%;
    transform-origin: 110% -10%;
    transition: transform .4s .25s;
    background-image: url('../../assets/menu/colab.png');
    background-size: cover;
}


.logoTab:nth-child(7) {
    border-radius: 0 0 100vmin 0;
    top: 64%;
    left: 64%;
    transform-origin: -10% -10%;
    transition: transform .4s .3s;
    background-image: url('../../assets/menu/iprcell.png');
    background-size: cover;

}
.logoTab:nth-child(8) {
    border-radius: 0 100vmin 0 0;
    left: 66%;
    top: -12%;
    transform-origin: -10% 110%;
    transition: transform .4s .2s;
    background-image: url('../../assets/menu/reserch_facility.png');
    background-size: cover;
}

.logoTab:nth-child(9) {
    border-radius: 100vmin;
    width: 55%;
    height: 55%;
    top: 22.5%;
    left: 22.5%;
    transform-origin: -10% -10%;
    transform: scale(1);
    box-shadow: 0 0 0 5vmin white;
    z-index: 10;
}

.logoTab:hover {
    background-color: #ead40f;
    transition:  0.2s;
    
}

.wrap:hover {
    transform: scale(0.9) translateZ(0px);
    opacity: 1;
}


.wrap:hover .logoTab {
    transform: scale(1) translateZ(0px);
}
