
#footer{
    width: 100%;
    min-height: 19vh;
    background-color: #22376c;
    display: flex;
    flex-direction: column;
}
#footer>div {
    height: 60%;
    display: flex;
}
#footer>div>div {
    width: 100%;
    padding: 20px;
    color: white;
}
#footer>div>div:nth-child(1)>b {
    font-size: medium;
    word-spacing: .1rem;
        font-weight: bold;
}
#footer>div>div:nth-child(1) {
    font-size: small;

}
#footer>div>div:nth-child(2)>a {
    font-size: large;
    line-height: 15px;
    color: aliceblue;
    text-decoration: none;
}
#footer>div>div:nth-child(3)>a {
    font-size: medium;
    line-height: 30px;
    letter-spacing: 10px;
    color: aliceblue;
}